@{
    ViewBag.Title = "Home";
}

<div class="row text-center" style="padding-top:50px;">
    <div class="col-md-4">
        <h2>ERROR</h2>
        <p onclick="bug1()"><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301865">Generate </a></p>
    </div>
    <div class="col-md-4">
        <h2>WARNING</h2>
        <p onclick="bug2()"><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301866">Generate </a></p>
    </div>
    <div class="col-md-4">
        <h2>INFO</h2>
        <p onclick="bug3()"><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301867">Generate</a></p>
    </div>
</div>