@{
    ViewBag.Title = "Home";
}

<div class="row text-center" style="padding-top:50px;">
    <div class="col-md-4">
        <h2>ERROR</h2>
        <p class="btn btn-danger" onclick="bug1()"> Generate </p>
    </div>
    <div class="col-md-4">
        <h2>WARNING</h2>
        <p class="btn btn-warning" onclick="bug2()"> Generate </p>
    </div>
    <div class="col-md-4">
        <h2>INFO</h2>
        <p class="btn btn-info" onclick="bug3()"> Generate </p>
    </div>
</div>